*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  background-image: url('https://i.imgur.com/EmbjO8V.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #7289DA;
  color: white;
  font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: black;
}
